In [8]:
import numpy as np
import pandas as pd
import os

from pathlib import Path

In [9]:
RLRS_root_location = Path().absolute() / "../"
df_mi = pd.read_csv(f'{RLRS_root_location}/data/ayampp/menu_items.csv')
df_mg = pd.read_csv(f'{RLRS_root_location}/data/ayampp/mod_groups.csv')
df_mii = pd.read_csv(f'{RLRS_root_location}/data/ayampp/mod_items.csv')
#df_od = pd.read_csv(f'{RLRS_root_location}/data/ayampp/orders.csv')

In [10]:
df_od = pd.read_csv(f'{RLRS_root_location}/data/ayampp/orders.csv')

C:\Users\Benjamin Thong\AppData\Local\Temp\ipykernel_27356\2133616853.py:1: DtypeWarning: Columns (32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,157,158,160,162,163,164,165,166,167,168,169,170,171,173,174,175,176,177,178,182,183) have mixed types. Specify dtype option on import or set low_memory=False.
  df_od = pd.read_csv(f'{RLRS_root_location}/data/ayampp/orders.csv')

In [11]:
df_od.head()

,customer_id,order_id,created_at,served_at,item1,item2,item3,item4,item5,item6,...,mods57,mods58,mods59,mods60,mods61,mods62,mods63,mods64,mods65,mods66
0,iE7KbXeQRrgdHW20acg1NUaKlM73,SpR2TLDrvcZWAOkPGtw4,1680698590599,1.680699e+12,uyLAIkFrugXDFupn5cH6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bvkoXpIE2SMiRm6CmOUFJyWZoP62,es6LCvJJwdS8kSvEZpE6,1680698562881,1.680699e+12,uaaCfJnKgLDbpp5BKjJs,sIYfTIFkqU3XYxoRy8G1,H1jWneJIwy0vU2nTrSMJ,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,vKbZ9j6WGsdBMc11HSBLLqnS14c2,RmfvCeCB0WAZMYl9EUqz,1680698602333,1.680699e+12,0Xd60T9Jc4hxDjD85u5w,uaaCfJnKgLDbpp5BKjJs,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,zs5V5O4zMPYiKxzO0e2EBy4uq403,bM0SUwEhyIOmwFZKoa09,1680698054810,1.680699e+12,Rp4T9cGa5SptaNJv2nuk,URP9e2B1WdCZkhX5Rl9j,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,zs5V5O4zMPYiKxzO0e2EBy4uq403,FyzALmAYzrDM0hW615VX,1681127093116,1.681127e+12,Bab6SE4e8yfncTSfJcbN,uaaCfJnKgLDbpp5BKjJs,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_mi.head()

,name,id,description,price,merchant,group_menu,mod_groups
0,Fried Beef,0543xu5134bpUspvShIW,"The fried beef is rich in spices, long marinat...",9.5,4Dvzz5yKZ2gk6YFdHMfS,LqZvGf7f90i6MAk6SJCs,ZL69bNccGQ8TwPsgOzoF|pTIRFZwgLT8FSJLckuot|qDlw...
1,Iced Coconut in Syrup,gBw96OaDxwGxaf12gYPd,Shaved ice with coconut water and pink syrup.,4.9,4Dvzz5yKZ2gk6YFdHMfS,zUQkQFsN8f9gSHf6l4Ya,f2Z1ZJEaDA9NDhY39VHT
2,Prawn Cracker,uk9Q0X2ebcgWzfcxaNej,Three pieces or large prawn cracker.,2.9,4Dvzz5yKZ2gk6YFdHMfS,TMMaJrfohp7ZGuUoR27q,NaN
3,Ayam Bakar,uaaCfJnKgLDbpp5BKjJs,Grilled to Perfection! Signature grilled tende...,7.9,4Dvzz5yKZ2gk6YFdHMfS,roQ7pn3vd9UPdXZ9OOw1,ZL69bNccGQ8TwPsgOzoF|4QAEKxmDozMnRVFC6ZeM|IDnx...
4,Potato Frikkadel,Ot1l8nPTpxhk314ChKqJ,Three pieces of traditional fried seasoned mas...,4.9,4Dvzz5yKZ2gk6YFdHMfS,11iJipKXFSRf69jjTZp8,NaN

In [13]:
df_mii.head()

                name                    id  price              merchant
0      NO Vegetables  00ukUAFtRk5ddEZURlbP    0.0  4Dvzz5yKZ2gk6YFdHMfS
1  Extra Green Chili  01Ma9scN8J8xvUAn4IEI    0.0  4Dvzz5yKZ2gk6YFdHMfS
2          NON Spicy  02ZtuQy7B87vbC6THJzs    0.0  4Dvzz5yKZ2gk6YFdHMfS
3        Extra Sauce  04lVjLzlv3rXJSywAjY4    0.5  4Dvzz5yKZ2gk6YFdHMfS
4       Steamed Rice  04Xg9FOSMVSrWiEMh0yv    1.0  4Dvzz5yKZ2gk6YFdHMfS

In [14]:
df_mg.head()

,name,id,menu_items,mods,merchant
0,Grill Option,00rMryTZh1Pixd6m4T8N,NaN,o8hT6HpJv0jAGTAJjQUG,4Dvzz5yKZ2gk6YFdHMfS
1,Gado-gado Option,09KQyIdpRzQPEVqiKifj,8Z6spgfXuLdR9teADzh8,JfUBBK33mG11W7a3jUul|JT1ax88GObGHbSTRzQvm|SZeI...,4Dvzz5yKZ2gk6YFdHMfS
2,Satay Options,0apvrkHEw3s1Qf4v20m0,NaN,6MWO8gcnX8asG5sKfOjC|UFZUoYemuN7IL8OuiSEf|g5NH...,4Dvzz5yKZ2gk6YFdHMfS
3,Choice of Coconut,0uGUi2A6X2eDXRIP8lpc,NaN,NaN,4Dvzz5yKZ2gk6YFdHMfS
4,Choice of Rice,17uMUrBOSdqYnP0aCT7a,uyLAIkFrugXDFupn5cH6|4S31ZYCqDfHyRlSkkas7|S8G5...,xQcrR7LzSqFFLaiNe5Zn|dRsKiHpWqDG10zbQjZxb|yy6p...,4Dvzz5yKZ2gk6YFdHMfS

In [18]:
# number of orders
df_od.customer_id.count()

17315

In [20]:
# number of unique customers
df_od.customer_id.nunique()

9743

In [21]:
# orders made by each customer
df_od.groupby(by="customer_id").created_at.count()

AttributeError: 'DataFrameGroupBy' object has no attribute 'created'

In [ ]:
# number of items on menu 
df_mi.count()

name           151
id             152
description     97
price          152
merchant       152
group_menu     143
mod_groups      82
dtype: int64

In [ ]:
# number of mod groups (group)
df_mg.count()

name          349
id            349
menu_items    237
mods          332
merchant      349
dtype: int64

In [ ]:
# number of mod_options (mod options is easier to understand)
df_mii.count()

name        1031
id          1031
price       1031
merchant    1031
dtype: int64